{% extends "template.njk" %}

{% set title = "Muse - Hysteria" %}

{% block main %}

<a class="home-link" href="{{ '/' | url }}">Home</a>

<div class="song">
  <h1>{{title}}</h1>
  <div class="card intro">
    <div class="top">
      <h1>Intro</h1>
      <span>x2</span>
    </div>
    <p>Main riff bass only 1 bar</p>
    <p>Drums and guitar come in 2nd bar</p>
  </div>
  <div class="card verse">
    <div class="top">
      <h1>Verse</h1>
      <span>x4</span>
    </div>
    <p>Full main riff 2 bars</p>
    <p>Bass with vocals 2 bars, leads into chorus</p>
  </div>
  <div class="card chorus">
    <div class="top">
      <h1>Chorus</h1>
      <span>x2</span>
    </div>
  </div>
  <div class="card verse">
    <div class="top">
      <h1>Verse</h1>
      <span>x3</span>
    </div>
    <p>Full main riff 1 bar</p>
    <p>Bass with vocals 2 bars</p>
  </div>
  <div class="card chorus">
    <div class="top">
      <h1>Chorus</h1>
      <span>x2</span>
    </div>
    <p>Special ending leading into riff 2</p>
  </div>
  <div class="card bridge">
    <div class="top">
      <h1>Riff 2</h1>
      <span>x4</span>
    </div>
    <p>3 bars of riff 2</p>
    <p>4th bar leads back into main riff</p>
  </div>
  <div class="card solo">
    <div class="top">
      <h1>Solo (verse)</h1>
      <span>x2</span>
    </div>
    <p>Bass and drums play verse for 2 bar</p>
  </div>
  <div class="card solo">
    <div class="top">
      <h1>Solo (chorus)</h1>
      <span>x2</span>
    </div>
    <p>Bass and drums play chorus for 2 bars</p>
  </div>
  <div class="card chorus">
    <div class="top">
      <h1>Chorus</h1>
      <span>x2</span>
    </div>
    <p>Special ending into break riff</p>
  </div>
  <div class="card outro">
    <div class="top">
      <h1>Outro</h1>
      <span>x6</span>
    </div>
    <p>Riff 2 until end</p>
  </div>


</div>

{% endblock %}
