{% extends "template.njk" %}

{% set title = "Nirvana - Breed" %}

{% block main %}

<a class="home-link" href="{{ '/' | url }}">Home</a>

<div class="song">
  <h1>{{title}}</h1>
  <div class="card intro">
    <div class="top">
      <h1>Intro</h1>
      <span>x8</span>
    </div>
    <p>Main riff</p>
    <p>Drums after 2nd bar</p>
    <p>Bass after 4th bar</p>
  </div>
  <div class="card verse">
    <div class="top">
      <h1>Verse</h1>
      <span>x24</span>
    </div>
    <p>Main riff</p>
    <p>Vocals after 8th bar</p>
  </div>
  <div class="card chorus">
    <div class="top">
      <h1>Chorus</h1>
      <span>x4</span>
    </div>
    <p>D - A - C - B</p>
  </div>
  <div class="card bridge">
    <div class="top">
      <h1>Post-chorus</h1>
      <span>x8</span>
    </div>
    <p>"She said"</p>
  </div>
  <div class="card verse">
    <div class="top">
      <h1>Verse</h1>
      <span>x16</span>
    </div>
    <p>Main riff</p>
  </div>
  <div class="card chorus">
    <div class="top">
      <h1>Chorus</h1>
      <span>x4</span>
    </div>
    <p>D - A - C - B</p>
  </div>
  <div class="card bridge">
    <div class="top">
      <h1>Post-chorus</h1>
      <span>x8</span>
    </div>
    <p>"She said"</p>
  </div>
  <div class="card solo">
    <div class="top">
      <h1>Solo</h1>
      <span>x16</span>
    </div>
    <p>Bass and drums play main riff</p>
  </div>
  <div class="card chorus">
    <div class="top">
      <h1>Chorus</h1>
      <span>x4</span>
    </div>
    <p>D - A - C - B</p>
  </div>
  <div class="card outro">
    <div class="top">
      <h1>Post-chorus</h1>
      <span>x8</span>
    </div>
    <p>"She said... good"</p>
  </div>
</div>

{% endblock %}
