{% extends "template.njk" %}

{% set title = "Nirvana - Smells Like Teen Spirit | Jamnote" %}

{% block main %}

<a class="home-link" href="{{ '/' | url }}">Home</a>

<div class="song">
  <h1>Nirvana - Smells Like Teen Spirit</h1>
  <div class="card intro">
    <div class="top">
      <h1>Intro</h1>
      <span>x6</span>
    </div>
    <p>Main riff, guitar 2 bars</p>
    <p>Drums and bass come in for 3rd bar</p>
  </div>
  <div class="card verse">
    <div class="top">
      <h1>Verse</h1>
      <span>x4</span>
    </div>
    <p>Bass and drums for 2 bars</p>
    <p>Guitar riffs after 3rd bar</p>
  </div>
  <div class="card chorus">
    <div class="top">
      <h1>Chorus</h1>
      <span>x4</span>
    </div>
  </div>
  <div class="card bridge">
    <div class="top">
      <h1>Bridge</h1>
      <span>x2</span>
    </div>
    <p>F - F# - C - A# - A</p>
  </div>
  <div class="card verse">
    <div class="top">
      <h1>Verse</h1>
      <span>x4</span>
    </div>
    <p>Bass and drums for 2 bars</p>
    <p>Guitar riffs after 3rd bar</p>
  </div>
  <div class="card chorus">
    <div class="top">
      <h1>Chorus</h1>
      <span>x4</span>
    </div>
  </div>
  <div class="card bridge">
    <div class="top">
      <h1>Bridge</h1>
      <span>x2</span>
    </div>
    <p>F - F# - C - A# - A</p>
  </div>
  <div class="card solo">
    <div class="top">
      <h1>Solo</h1>
      <span>x4</span>
    </div>
  </div>
  <div class="card verse">
    <div class="top">
      <h1>Verse</h1>
      <span>x4</span>
    </div>
  </div>
  <div class="card chorus">
    <div class="top">
      <h1>Chorus</h1>
      <span>x4</span>
    </div>
  </div>
  <div class="card outro">
    <div class="top">
      <h1>Outro</h1>
      <span>x9</span>
    </div>
    <p>A denial</p>
  </div>
</div>

{% endblock %}
