{% extends "template.njk" %}

{% set title = "Arctic Monkeys - Brianstorm | Jamnote" %}

{% block main %}

<a class="home-link" href="{{ '/' | url }}">Home</a>

<div class="song">
  <h1>Nirvana - Smells Like Teen Spirit</h1>
</div>

{% endblock %}
