// Nord Theme colours ///////////////////////////

$nord-red: #bf616a;
$nord-orange: #d08770;
$nord-yellow: #ebcb8b;
$nord-green: #a3be8c;
$nord-purple: #b48ead;

$nord-dark1: #2e3440;
$nord-dark2: #3b4252;
$nord-dark3: #434c5e;
$nord-dark4: #4c566a;

$nord-light1: #d8dee9;
$nord-light2: #e5e9f0;
$nord-light3: #eceff4;

$nord-blue1: #8fbcbb;
$nord-blue2: #88c0d0;
$nord-blue3: #81a1c1;
$nord-blue4: #5e81ac;
