// Songs and song cards /////////////////////////

.song {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
}

.card {
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  color: $nord-light3;
  background-color: $nord-dark2;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);

  p {
    margin: 0px 0px 10px 0px;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.card .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  h1 {
    margin: 0px 0px 10px 0px;
    font-size: 3rem;
    font-weight: 700;
  }

  span {
    font-size: 3rem;
    margin-left: 40px;
  }
}
