{% extends "template.njk" %}

{% set title = "Rage Against The Machine - Killing In The Name | Jamnote" %}

{% block main %}

<a class="home-link" href="{{ '/' | url }}">Home</a>

<div class="song">
  <h1>Rage Against The Machine - Killing In The Name</h1>
  <div class="card intro">
    <div class="top">
      <h1>Intro</h1>
      <span>x4</span>
    </div>
    <p>4 strums of D</p>
  </div>
  <div class="card intro">
    <div class="top">
      <h1>Intro</h1>
      <span>x16</span>
    </div>
    <p>D - D#</p>
    <p>Bass only for 4 bars</p>
  </div>
  <div class="card verse">
    <div class="top">
      <h1>Verse 1</h1>
      <span>x4</span>
    </div>
    <p>Main riff (loud)</p>
  </div>
  <div class="card verse">
    <div class="top">
      <h1>Verse 1</h1>
      <span>x4</span>
    </div>
    <p>Main riff (quiet, vocals)</p>
    <p>"Some of those that work forces..."</p>
  </div>
  <div class="card bridge">
    <div class="top">
      <h1>Verse 2</h1>
      <span>x2</span>
    </div>
    <p>Second riff (descending B - A# - A)</p>
    <p>"Killing in the name of"</p>
  </div>
  <div class="card solo">
    <div class="top">
      <h1>Verse 3 / prechorus</h1>
      <span>x8</span>
    </div>
    <p>Third riff (angry D chords)</p>
    <p>"And now you do what they told ya"</p>
  </div>
  <div class="card chorus">
    <div class="top">
      <h1>Chorus</h1>
      <span>x8</span>
    </div>
    <p>"Fuck you I won't do what you tell me"</p>
  </div>
  <div class="card verse">
    <div class="top">
      <h1>Verse 1</h1>
      <span>x8</span>
    </div>
    <p>Main riff (quiet, vocals)</p>
    <p>"Some of those that work forces..."</p>
    <p>4th Bar - lil solo ting</p>
  </div>
</div>

{% endblock %}
