{% extends "template.njk" %}

{% set title = "Home" %}

{% block main %}

  <section class="setlist">
    <h3>Nirvana</h3>
    <ul>
      <li>
        <a href="{{ '/nirvana/smells-like-teen-spirit/' | url }}"
          >Smells Like Teen Spirit</a
        >
      </li>
      <li><a href="/nirvana/in-bloom.html">In Bloom</a></li>
      <li><a href="/nirvana/come-as-you-are.html">Come As You Are</a></li>
      <li><a href="{{ '/nirvana/breed/' | url }}">Breed</a></li>
      <li><a href="/nirvana/heart-shaped-box.html">Heart Shaped Box</a></li>
    </ul>
    <h3>Alice in Chains</h3>
    <ul>
      <li><a href="/alice-in-chains/would.html">Would?</a></li>
    </ul>
    <h3>Arctic Monkeys</h3>
    <ul>
      <li><a href="/arctic-monkeys/brianstorm.html">Brianstorm</a></li>
    </ul>
    <h3>Foo Fighters</h3>
    <h3>Muse</h3>
    <ul>
      <li><a href="{{ '/muse/hysteria/' | url }}">Hysteria</a></li>
    </ul>
    <h3>Queens of the Stone Age</h3>
    <h3>Rage Against The Machine</h3>
    <ul>
      <li><a href="{{ 'ratm/killing-in-the-name/' | url }}">Killing In The Name</a></li>
      <li><a href="{{ 'ratm/sleep-now-in-the-fire/' | url }}">Sleep Now In the Fire</a></li>
    </ul>
  </section>
{% endblock %}
